#title {
  text-align: center;
  background-color: #476;
  padding: 5px;
  max-width: 854px;
  color: white;
}
.myBox {
  color: white;
  width: 200px;
  height: 100px;
  border: 2px solid black;
  background-color: royalblue;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: roboto;
}
